<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Assignment1/public/img/Cloud Icon.png" type="image/x-icon">
    <title>Homepage</title>
</head>
<style>
    body {
        background-image: url('/public/img/background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<body>
    <a href="index.html">Home</a>|
    <a href="login.html">Login</a>

    <h1>Homepage</h1>
    <br>
    <img src="/Assignment1/public/img/home.png" alt="home" width="60px">


</body>

</html>