<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link rel="stylesheet" href="/public/css/week2/table.css">

    <style>
        table,
        th,
        td {
            border: 1px solid;
        }
    </style>
</head>

<body>

    <table>
        <tr id="data">
            <th id="ID">ID</th>
            <th id="NAME">Name</th>
            <th id="AGE">Age</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Peter</td>
            <td>22</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Lisa</td>
            <td>25</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Tony</td>
            <td>18</td>
        </tr>
    </table>

</body>

</html>